#title {
    font-size: 37px;
    font-family: Arial, sans-serif;
    display: inline-block;
  }
  
  .btn-group {
    margin-left: 10px;
    display: inline-block;
  }
  
  .btn-group:first-child {
    margin-left: 0;
  }
  
  .btn-group:last-child {
    margin-right: 0;
  }
  
  .btn {
    border-radius: 4px;
    font-size: 16px;
    border: none;
  }
  
  .btn:not(.dropdown-toggle) {
    font-weight: bold;
    color: black;
  }
  
  .dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
  
}
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu li a {
    display: block;
    padding: 6px 20px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-menu li a:hover {
    background-color: #f5f5f5;
  }
  
  thead {
    text-align: center;
    background-color: #8b96a3;
    color: white;
    font-size: 17px;
    text-transform: capitalize;
  }
  
  tbody {
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
  }
  
  .search-text.no-match::placeholder {
    color: red;
  }
  
  .filter-container {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }
  
  .search-bar {
    max-width: 300px;
    display: inline-flex;
  }
  
  .search-text {
    padding: 6px;
    outline: none;
    border: 1px solid #007bff;
    border-radius: 5px 0 0 5px;
    transition: 0.5s;
    background-color: rgba(0, 123, 255, 0.1);
  }
  
  .search-text::placeholder {
    color: #007bff;
    padding: 4px;
  }
  
  .search-text:focus {
    background-color: #fff;
  }
  
  .btn-search {
    width: 35px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    outline: none;
  }
  

  