.btn-search fa fa-search{
    width:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
} 
.search{
    height:35px;
    max-width: 300px;
    display:inline-flex;
} 
.search-text{
    padding: 10px;
    width:220px;
    outline:none;
    border : 1px solid rgb(77, 77, 255);
    border-radius: 5px 5px 5px 5px;
    transition:0.5s;
    background-color: rgb(77, 77, 255,0.1);
}
.search-text::placeholder{
    color:rgb(77, 77, 255);
}
.search-text:focus{
    background:#fff;
}
.btn-search{
    background-color: rgb(77, 77, 255);
    color:white;
    border-radius: 0 5px 5px 0;
    border :1px solid rgb(77, 77, 255);
}

thead {
  text-align: center;
   background-color: #2e2e2e;
   color: #fff;
   font-size: 16px; 
}

tbody{
    font-size: 14px;
    text-align:center;
}
.incompleted{
    background-color: #f6c4bf;
}
.search-text.no-match::placeholder{
      color: red; 
  }

  .filter-container{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }