<table class="generaltable">
    <thead>
        <tr>
            <th>{{#str}}userid, local_attendance{{/str}}</th>
            <th>{{#str}}username, local_attendance{{/str}}</th>
            <th>{{#str}}courseid, local_attendance{{/str}}</th>
            <th>{{#str}}coursename, local_attendance{{/str}}</th>
            <th>Assignment Name</th>
            <th>Submission</th>
            <th>Due Date</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        {{#assignmentData}}
        <tr>
            <td>{{userid}}</td>
            <td>{{username}}</td>
            <td>{{course}}</td>
            <td>{{coursename}}</td>
            <td>{{name}}</td>
            <td>{{submission}}</td>
            <td>{{duedate}}</td>
            <td>{{timecreated}}</td> <!-- Adjusted for consistency -->
            <td>{{timemodified}}</td>
            <td>{{duration}}</td>
        </tr>
        {{/assignmentData}}
    </tbody>
</table>