<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quiz Activity Report</title>

<style>
    #myInput {
        padding: 20px;
        margin-top: -6px;
        border: 0;
        border-radius: 0;
        background: #f1f1f1;
    }
    .table-striped tbody tr:nth-of-type(even) {
        background-color:#F0F0F5; 
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #ffffff; 
    }
</style>
</head>
<body>
    <div class="container">
        <div style="font-family: Arial, sans-serif; font-size:30px; margin-right:2px;float-left;">Quiz Activity Report 
          <div class="btn-group float-right">
            <div class="btn-group">
              <button class="btn btn-warning float-right" type="button" data-toggle="dropdown" style="border-radius:3px; padding-top:7px; margin-right:7px;">
                <span class="glyphicon glyphicon-filter style="padding-right:5px; padding-top:2px;"></span>Filter
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <input class="form-control" id="myInput" type="text" placeholder="Type to Filter..">
              </ul> 
            </div>
            <div class="btn-group">
              <button class="btn btn-warning float-right" type="button" data-toggle="dropdown" style="border-radius:3px; padding-top:7px; margin-right:7px;">
                <span class="glyphicon glyphicon-filter style="padding-right:5px; padding-top:2px;"></span>Courses
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                {{#coursetitleData}}
                <button class="btn btn-value">{{coursename}}</button>
                {{/coursetitleData}}
              </ul> 
            </div>
            <div class="btn-group">
              <button class="btn btn-warning float-right" type="button" data-toggle="dropdown" style="border-radius:3px; padding-top:7px; margin-right:7px;">
                <span class="glyphicon glyphicon-filter style="padding-right:5px; padding-top:2px;"></span>Filters
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <button class="btn btn-options">Login</button>
                <button class="btn btn-options">Course</button>
                <button class="btn btn-options">Quiz</button>
                <button class="btn btn-options">Assignment</button>
              </ul> 
            </div>
        <div class="btn-group float-right">
          <div class="btn-group">
            <button class="btn btn-warning" type="button" data-toggle="dropdown" style="border-radius: 3px;margin-right:6px;">
              <span class="glyphicon glyphicon-cloud-download" style="padding-right:5px; padding-top:2px;"></span>Download
              <span class="caret"></span>
            </button>
              <ul class="dropdown-menu">
                <li><a href="#">CSV</a></li>
                <li><a href="#">Excel</a></li>
                <li><a href="#">Print</a></li>
              </ul> 
          </div>
        </div>
          
        </div>
    </div>
    

    <table id="example" class="display nowrap" style="width:100%">
        
    </table>



</div>
</body>
</html>
