<!-- local/attendance/templates/manage.mustache -->

<h3>{{#str}}username,local_attendance{{/str}}</h3>
<table class="generaltable">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
        </tr>
        {{#dateWiseAccess}}
        <tr>
            <td>{{userid}}</td>
            <td>{{username}}</td>
            <td>{{courseid}}</td>
            <td>{{course_name}}</td>
            <td>{{start}}</td>
            <td>{{end}}</td>
            <td>{{duration}}</td>
        </tr>
        {{/dateWiseAccess}}
</table>

