
    <!-- local/attendance/templates/activity_summary.mustache -->

<table class="generaltable">
    <tr>
        <th>{{#str}}userid, local_attendance{{/str}}</th>
        <th>{{#str}}username, local_attendance{{/str}}</th>
        <th>{{#str}}coursename, local_attendance{{/str}}</th>
        <th>{{#str}}date, local_attendance{{/str}}</th>
        <th>{{#str}}activitycount, local_attendance{{/str}}</th>
        <th>{{#str}}totaltimespent, local_attendance{{/str}}</th>
    </tr>
    {{#result}}
        
    <tr>
        <td>{{userid}}</td>
        <td>{{username}}</td>
        <td>{{course_name}}</td>
        <td>{{date}}</td>
        <td>{{access_count}}</td>
        <td>{{formatted_time_spent}}</td>
    </tr>
       
    {{/result}}
</table>

