<!-- local/attendance/templates/activity_summary.mustache -->


<table class="generaltable">
    <thead>
        <tr>
            <th>{{#str}}userid, local_attendance{{/str}}</th>
            <th>{{#str}}username, local_attendance{{/str}}</th>
            <th>{{#str}}courseid, local_attendance{{/str}}</th>
            <th>{{#str}}coursename, local_attendance{{/str}}</th>
            <th>{{#str}}sessionstart, local_attendance{{/str}}</th>
            <th>{{#str}}sessionend, local_attendance{{/str}}</th>
            <th>{{#str}}sessionduration, local_attendance{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#users}}
        <tr>
            <td>{{userid}}</td>
            <td>{{course_name}}</td>
            <td>{{access_count}}</td> <!-- Adjusted for consistency -->
            <td>{{total_time_spent_formatted}}</td>
        </tr>
        {{/users}}
    </tbody>
</table>

