

<div class="container">
  <div class="d-flex flex-column position-relative">
    <div >
      <h1 id='title'></h1>
    </div>

    <div class="filter-container">
      <div class="search ml-4">
        <input type="text" class="search-text" placeholder="Type to Filter . . .">
      </div>
      
      <div class="btn-group ml-4">
        <button class="buttons btn btn-warning" type="button" data-toggle="dropdown" style="border-radius:3px;">
            <span class="glyphicon glyphicon-stats"></span> Report <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><span class="btn btn-options">Users</span></li>
            <li><span class="btn btn-options">Course</span></li>
            <li><span class="btn btn-options">Quiz</span></li>
            <li><span class="btn btn-options">Assignment</span></li>
        </ul>
      </div>
    
      <div class="btn-group ml-4">
        <button class="buttons btn btn-warning" type="button" data-toggle="dropdown" style="border-radius:3px;">
            <span class="glyphicon glyphicon-book"></span> Course <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {{#coursetitleData}}
            <li class="btn btn-value">{{coursename}}</li>
            {{/coursetitleData}}
        </ul>
      </div>
    
      <div class="btn-group ml-4">
        <button class="buttons btn btn-warning" type="button" data-toggle="dropdown" style="border-radius:3px;">
            <span class="glyphicon glyphicon-cloud-download"></span> Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><button class="btn btn-filepdf">PDF</button></li>
            <!-- <li><button class="btn btn-file" onclick="exportToExcel()">EXCEL</button></li> -->
            <li><button class="btn btn-file" onclick="copyTable()">COPY</button></li>
            <li><button class="btn btn-file" onclick="exportTocsv()">CSV</button></li>
            <li><button class="btn btn-file" onclick="printTable()">PRINT</button></li>
        </ul>
      </div>
    </div> 
  </div>
  
  <table id="example" class="table table-bordered table-striped table-condensed">
  </table>
</div>
