{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<style>
  
</style>
<div class="mb-4">
 <h1 id='title' class="mb-3"></h1>
  <div class="d-flex flex-row justify-content-between align-items-center" style="margin-top:15px;">
    <div>
    <div class="dropdown btn-group ml-1">
      <button class="btn btn-primary dropdown-toggle" type="button" id="mainDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fab fa-wpforms"></i> Report
      </button>
      <div class="dropdown-menu" aria-labelledby="mainDropdown">
          <a class="btn btn-options dropdown-item" href="#">Login</a>
          <div class="dropdown-submenu">
              <a class="btn dropdown-item" id="option2Dropdown" aria-expanded="false">
                  Course
              </a>
              <div class="dropdown-menu" aria-labelledby="option2Dropdown">
                {{#coursetitleData}}
                <li class="btn btn-value dropdown-item">{{coursenames}}</li>
                {{/coursetitleData}}
              </div>
          </div>
          <a class="btn btn-options dropdown-item" href="#">Quiz</a>
          <a class="btn btn-options dropdown-item" href="#">Assignment</a>
      </div>
    </div>
  
      <div class="btn-group ml-1 ">
        <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          <i class="fa-solid fa-chart-simple"></i> Chart <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li> <button class="btn btn-chart" onclick="location.href='{{piechart}}'">Pie Chart</button></li>
              <li><button class="btn btn-chart" onclick="location.href='{{barchart}}'">Bar Chart</button></li>
          </ul>
      </div>
  
  
      <div class="btn-group ml-1">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-solid fa-file-export"></i> Export <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><button class="btn btn-filepdf">PDF</button></li>
            <li><button class="btn btn-file" onclick="exportToExcel()">EXCEL</button></li>
            <li><button class="btn btn-file" onclick="copyTable()">COPY</button></li>
            <li><button class="btn btn-file" onclick="exportTocsv()">CSV</button></li>
            <li><button class="btn btn-file" onclick="printTable()">PRINT</button></li>
            <li><button class="btn btn-file" data-toggle="modal" data-target="#ModalCenter" id='btn-Email'>EMAIL</button></li>
        </ul>
      </div>
    </div>
    <div class="search-bar">
      <input type="text" class="search-text" placeholder="Type to Filter . . ."> 
      <button class="btn btn-search" type="none"><i class="fa-solid fa-filter" style="color: #ffffff;"></i></button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Mail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{#modalform}}
          {{{modalform}}}
      {{/modalform}}
      </div>
      <div class="modal-footer">
        <br>
      </div>
    </div>
  </div>
</div>


<table id="example" class="table table-bordered table-condensed">
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
