
<head>
  
</head>
<div class="container">
  <div class="d-flex flex-column position-relative">
    <div >
      <h1 id='title'></h1>
    </div>

    <div class="filter-container">
      <div class="search">
        <input type="text" class="search-text" placeholder="Type to Filter . . .">
      </div>

      <div class="btn-group ml-3">
        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-book"></span> Course List <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {{#coursetitleData}}
            <li class="btn btn-value">{{coursenames}}</li>
            {{/coursetitleData}}
        </ul>
      </div>
  

      <div class="btn-group ml-3">
        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-stats"></span> Report <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="btn btn-options">Login</li>
            <li class="btn btn-options">Course</li>
            <li class="btn btn-options">Quiz</li>
            <li class="btn btn-options">Assignment</li>
        </ul>
      </div>

      <div class="btn-group ml-3">
        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick=openPopup()>
            <span class="glyphicon glyphicon-stats"></span> Chart <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="btn btn-chart"  onclick="location.href='{{logincharturl}}'">Login</li>
            <li class="btn btn-chart"  onclick="location.href='{{coursecharturl}}'">Course Access</li>
        </ul>
      </div>
    
      <div class="btn-group ml-3">
        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-book"></span> Export <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><button class="btn btn-filepdf" >PDF</button></li>
            <li><button class="btn btn-file" onclick="exportToExcel()">EXCEL</button></li> 
            <li><button class="btn btn-file" onclick="copyTable()">COPY</button></li>
            <li><button class="btn btn-file" onclick="exportTocsv()">CSV</button></li>
            <li><button class="btn btn-file" onclick="printTable()">PRINT</button></li>
            <li><button class="btn btn-file" onclick="location.href='{{emailurl}}'">EMAIL</button></li>
        </ul>
      </div>

    </div> 
  </div>
  
  <table id="example" class="table table-bordered table-striped table-condensed">
  </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>

